/* #region Fonts */
@font-face {
  font-family: "Eastman-Medium";
  src: url("../Font/Eastman-Grotesque-Medium-trial.otf"); /* IE9 Compat Modes */
  src: url("../Font/Eastman-Grotesque-Medium-trial.otf?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Font/Eastman-Grotesque-Medium-trial.otf") format("woff2"),
    /* Super Modern Browsers */ url("../Font/Eastman-Grotesque-Medium-trial.otf") format("woff"),
    /* Pretty Modern Browsers */ url("../Font/Eastman-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Eastman-Bold";
  src: url("../Font/Eastman-Grotesque-Black-trial.otf");
}

@font-face {
  font-family: "Eastman-ExtraBold";
  src: url("../Font/Eastman-Grotesque-ExtraBold-trial.otf");
}


.Eastman-Medium {
  font-family: "Eastman-Medium";
}

.Eastman-Bold {
  font-family: "Eastman-Bold";
}

.Eastman-ExtraBold {
  font-family: "Eastman-ExtraBold";
}
/* #endregion */

/* #region Default Styles */
section {
  background: white;
}
body::before {
  display: block;
  content: "";
  height: 80px;
}

.border-bottom-transition{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.border-top-transition{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.container {
  max-width: 1100px; /* Adjust this value as needed */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}



/* #region Navbar*/
nav {
  background: white;
  font-family: Eastman-Medium;
  color: black;
  font-weight: 700;
}
/* #endregion */

/* #region Landing Page */
.landing-avatar {
  max-height: 200px; /* Default for mobile */
}
.tagline{
  font-weight: 700;
  margin-top: 0px;
}
.CTA{
  padding: 5px 30px;
  border-radius: 30px;
  border: 4px solid black;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.CTA:hover{
  background-color: black;
  color: white;
}

.HireMe{
  background-color: #dcf247;
  margin-right: 8px;
}

.Resume{
  background-color: white;
}

.position-relative {
  position: relative;
}

.cta-container {
  position: absolute;
  top: 86%; /* Positions 80% from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; /* Ensures buttons appear above the image */
}

.impact{
  border: 5px solid #dcf247;
  background-color: #dcf247;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* #endregion */

/* #region Tech Stack */

.tech-stack-arrow{
  border: 1px solid grey;
  background-color: grey;
  border-radius: 50%;
  padding-top:0px;
  padding-bottom:4px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 5px;
}
.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px 20px; /* row-gap column-gap */
  justify-content: center;
  align-items: center;
}

.tech-stack-grid p {
  white-space: nowrap; /* Prevents text from wrapping */
  font-weight: 700;
  font-size: 18px;
}

/* #endregion */

/* #region Services */
.automate {
  padding-bottom: 11px;
}
.card {
  border: 0px solid black;
  border-radius: 40px;
  background-color:#f4f4f4;
  font-family: "Eastman-Medium";
  font-weight: 500;
}

.skills-title {
  background-color: #dcf247; /* Light green color */
  display: inline-block; /* Makes the background only as wide as the text */
  padding: 5px 10px;
  border-radius: 5px;
  font-weight:1000;
}

.apps {
  padding-top: 5px;
}
h2 {
  font-size: 50px;
}
.skillsCard {
  min-height: 300px;
}
/* #endregion */

/* #region Experience Section & Education*/
.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  gap: 15px; /* Space between grid items */
  padding: 20px 0;
}

.experience-grid .resume-entry:nth-child(odd) {
  justify-self: end; /* Aligns to the end (right) of its grid cell */
}

.resume-entry {
  background: white;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  font-family: 'Eastman-Medium';
  min-height: auto;
}

.resume-entry img {
  max-width: 80px; /* Adjust based on your actual image size */
  margin-right: 15px;
  border-radius: 20px;
}

.resume-entry .resume-content {
  flex: 1;
}

.resume-entry .title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0px;
}

.title{
  font-weight: 900;
}

.resume-entry .date {
  font-size: 1em;
  color: #666;
  margin-bottom: 5px;
}

.resume-entry .description {
  font-size: 0.9em;
  line-height: 1.5;
  color: #333;
}

.resume-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  margin-top: 30px;
  padding-right: 20px; /* Adds some space from the right edge, adjust as needed */
}

.view-resume-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-family: 'Eastman-Medium', sans-serif;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 40px;
  width: 200px;
}

.view-resume-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
/* #endregion */

/* #region Projects Section */
.first-project{
  margin-top: 100px;
}

.projects{
  margin-top: 150px;
}
.project-logo{
  width: 60%;
  margin-bottom: 50px;
}
.project-des {
  margin-bottom: 60px;
  color: grey;
}
/* #endregion */

/* #region Testimonial Section */

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header .title {
  font-size: 35px;;
  font-weight: 600px;
  text-transform: capitalize;
  color: black;
  line-height: 1.2;
}

.testimonials {
  padding: 100px 0px;
}

.testimonials-item {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 30px;
  min-height: 255px;
  font-family: 'Eastman-Medium';
}

.testimonials-item .info{
  display: flex;
  align-items: center;
}
.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: black;
}

.testimonials-item p {
  margin-top: 20px;
  color: grey;
}

.testimonials .swiper-pagination{
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background-color: black;
}
/* #endregion */


/* #region Contact Me Section */
#ContactMe {
  position: relative;
  overflow: hidden; /* This ensures the arrow doesn't create scrollbars */
}

.mb-100{
  margin-bottom: 100px;
}

.collaborate-arrow {
  position: absolute;
  right: 15%; /* Adjust as needed */
  top: 28%; /* Adjust as needed */
  width: 100px; /* Adjust size as needed */
  height: 100px;
  z-index: 1; /* Ensures the arrow is above other elements */
}
.collaborate{
  font-weight: 900;
  font-size: 70px;
  margin-top:100px;
}
.email-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
  margin-bottom: 80px; /* Adjust as needed */
}
.email{
  background-color: #dcf247; /* Light green color */
  display: inline-block; /* Makes the background only as wide as the text */
  padding: 5px 10px;
  color: #000000;
  font-size: 80px;
  font-weight: 900;
}
/* #endregion */

/* #endregion */

/* #region Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .CTA {
    font-size: 14px;
    padding: 3px 20px;
    border: 3px solid black;
  }

  .landing-avatar {
    max-height: 250px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .CTA {
    font-size: 15px;
    padding: 5px 20px;
    border: 4px solid black;
  }

  .cta-container {
    bottom: 2%;
  }

  .landing-avatar {
    max-height: 300px;
  }

  .pacifico {
    font-size: 50px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .CTA {
    font-size: 20px;
    padding: 5px 30px;
  }

  .cta-container {
    bottom: 2%;
  }

  .landing-avatar {
    max-height: 370px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .CTA {
    font-size: 20px;
    padding: 6px 35px;
  }

  .cta-container {
    bottom: 2%;
  }

  .landing-avatar {
    min-height: 350px;
  }
}

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .landing-avatar {
    min-height: 732px;
  }
}

/* Specific rule for very large screens */
@media (min-width: 1600px) {
  .landing-avatar {
    min-height: 732px;
  }
}

/* #endregion Media Queries */
