@font-face {
  font-family: "Belinda";
  src: url("../Font/Belinda.eot"); /* IE9 Compat Modes */
  src: url("../Font/Belinda.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Font/Belinda.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../Font/Belinda.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../Font/Belinda.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Avenir";
  src: url("../Font/Avenir.eot"); /* IE9 Compat Modes */
  src: url("../Font/Avenir.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Font/Avenir.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../Font/Avenir.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../Font/Avenir.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Syne";
  src: url("../Font/Syne.eot"); /* IE9 Compat Modes */
  src: url("../Font/Syne.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../Font/Syne.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../Font/Syne.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../Font/Syne.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Andria_Signature";
  src: url("../Font/AndriaSignature.otf") format("opentype");
}

@font-face {
  font-family: "SC";
  src: url("../Font/SouthCatalonia.otf") format("opentype");
}

@font-face {
  font-family: "ED";
  src: url("../Font/ev.ttf") format("truetype");
}

@font-face {
  font-family: "BS";
  src: url("../Font/bs.ttf") format("truetype");
}

@font-face {
  font-family: "N";
  src: url("../Font/N.otf") format("opentype");
}

@font-face {
  font-family: "jb";
  src: url("../Font/jb.ttf") format("truetype");
}


@font-face {
  font-family: "rb";
  src: url("../Font/roadbust.otf") format("opentype");
}

.jb {
  font-family: "rb", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 60px;
}

.jb {
  font-family: "jb", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 60px;
}

.sc {
  font-family: "SC", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 50px;
}

.n {
  font-family: "n", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 40px;
}

.ed {
  font-family: "ED", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 50px;
}

.bs {
  font-family: "bs", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 50px;
}

/* Font Classes */
.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 70px;
}

.Andria_Signature {
  font-family: "Andria_Signature", sans-serif; /* Fallback to sans-serif if the custom font doesn't load */
  font-weight: 400;
  font-size: 70px;
}

.home {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Tech Stack */
.card {
  border: 0px solid black;
  border-radius: 17px;
  background-color: #CEEBFA;
  font-family: "Syne";
  font-weight: 500;
}
.tech-stack-image {
  width: 50%; /* Default width for larger screens */
  margin-bottom: 5px;
}
.project-tech-stack {
  width: 6%;
  margin-right: 5px;
}
.tech-stack-body {
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 10px;
}
.automate {
  padding-bottom: 11px;
}
.apps {
  padding-top: 5px;
}
.avenir {
  font-family: Avenir;
}
.syne {
  font-family: Syne;
}
h2 {
  font-size: 50px;
}

.impact{
  color: #F5CD47;
}

/* Nav Section */
nav {
  background: #a3d9f6;
  font-family: Syne;
}
section {
  background: #a3d9f6;
}
body::before {
  display: block;
  content: "";
  height: 80px;
}

/* Skills Section */
.skillsCard {
  min-height: 300px;
}

/* Experience Section & Education*/
.resume-entry {
  background: #CEEBFA;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-family: 'Syne';
  min-height: 190px;
}

.ProcoLink{
  text-decoration: none;
}

.mt-20{
  margin-top: 20px;
}

.resume-entry img {
  max-width: 80px; /* Adjust based on your actual image size */
  margin-right: 20px;
}

.resume-entry .resume-content {
  flex: 1;
}

.resume-entry .title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0px;
}

.resume-entry .date {
  font-size: 1em;
  color: #666;
  margin-bottom: 5px;
}

.resume-entry .description {
  font-size: 0.9em;
  line-height: 1.5;
  color: #333;
}


/* Contact Me Section */
.contact-form {
  max-width: 600px;
  margin: 50px auto;
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact-form .form-control {
  border-color: transparent;
  border-bottom-color: #000; /* Adjust the border color as needed */
  border-radius: 0;
  border-width: 2px;
  color: black;
  background-color: #f8f9fa;
}
.contact-form .form-control:focus {
  box-shadow: none;
}
.contact-form .btn-primary {
  background-color: #000; /* Adjust the button background color as needed */
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
}
.contact-form .btn-primary:hover {
  background-color: #333; /* Adjust the button hover color as needed */
}

/*Download CV Button */
.download-icon {
  height: 25px;
  margin-left: 5px;
  padding-bottom: 4px;
}
.linkedIn-icon {
  height: 43px;
  margin-left: 5px;
}
.download-cv-btn {
  display: inline-block;
  padding: 6px 20px;
  margin: 0px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 8px; /* Adjust for roundness */
  text-decoration: none; /* Removes the underline from links */
  font-size: 15px; /* Adjust as needed */
  font-weight: bold; /* Makes the text bold */
}
.download-cv-btn:hover {
  background-color: black;
  color: white;
}

/* Projects Section */
.first-project{
  margin-top: 100px;
}

.projects{
  margin-top: 150px;
}
.project-logo{
  width: 60%;
  margin-bottom: 50px;
}
.project-des {
  margin-bottom: 60px;
  color: grey;
}

/* Testimonial Section */

.testimonial-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header .title {
  font-size: 35px;;
  font-weight: 600px;
  text-transform: capitalize;
  color: black;
  line-height: 1.2;
}

.testimonials {
  padding: 100px 0px;
}

.testimonials-item {
  background-color: #CEEBFA;
  padding: 30px;
  border-radius: 30px;
  min-height: 255px;
  font-family: 'Syne';
}

.testimonials-item .info{
  display: flex;
  align-items: center;
}
.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: black;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: black;
}

.testimonials-item p {
  margin-top: 20px;
  color: grey;
}

.testimonials .swiper-pagination{
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet{
  height: 12px;
  width: 12px;
  background-color: #1fa1e7;
}


@media (max-width: 1000px) {
  .pacifico {
    font-size: 50px; /* Font size for smaller screens */
  }

  /*Experience Section & Education*/
  .resume-entry {
    flex-direction: column;
    text-align: center;
  }

  .resume-entry img {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .resume-entry .resume-content {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .pacifico {
    text-align: center;
    font-size: 30px;
  }

  .aboutMe {
    font-size: 15px;
  }

  .apps {
    padding-top: 0px;
  }

  .tech-stack-title {
    font-size: 8px; /* Adjust as needed */
  }

  .tech-stack-image {
    width: 100%; /* Increased width for mobile screens */
  }

  .tech-stack-body {
    padding: 5px;
    padding-bottom: 1px;
    padding-top: 10px;
  }

  .tech-stack-body img {
    width: 70%;
  }

  .tech-stack-firebase-image {
    width: 77%;
  }

  .skills-title {
    font-size: 20px;
  }

  .skills-text {
    font-size: 15px;
  }

  /*Download CV Button */
  .download-icon {
    height: 15px;
    margin-left: 5px;
    padding-bottom: 4px;
  }

  .linkedIn-icon {
    height: 29px;
    margin-left: 3px;
  }

  .download-cv-btn {
    font-size: 10px;
    padding: 5px 10px;
    border: 2px solid black;
  }

  /* Projects Section */
.first-project{
  margin-top: 50px;
}

.projects{
  margin-top: 50px;
}

.project-tech-stack {
  width: 18%;
  margin-bottom: 10px;
}

.project-logo{
  width: 100%;
  margin-bottom: 10px;
}

.project-des {
  margin-bottom: 20px;
  color: grey;
}

/*Experience Section & Education */

.resume-entry {
  padding: 15px;
}

.resume-entry .title {
  font-size: 1em;
}

.resume-entry .date {
  font-size: 0.8em;
}

.resume-entry .description {
  font-size: 0.7em;
}

}


